.content {
    height: 425px;
    width: 425px;
    margin : 0 auto;
}

.content div {
    display: inline-block;
    vertical-align: top;
}

.reset {
	width: 100px;
	margin : 0 auto;
	padding-bottom: 10px;
}

